/******
COMUNE
*******/

.navigationHelp {
    position: absolute;
    text-indent: -999em;
}


* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBgColor: rgb(0, 0, 0);
    --headerTxtColor: rgb(255, 255, 255);

    --bgColor: rgb(255, 255, 255);
    --txtColor: rgb(0, 0, 0);

    --footerBgColor: rgb(0, 0, 0);
    --footerTxtColor: rgb(255, 255, 255);

    --visitedLinkColor: rgb(230, 12, 83);
    --linkColor: rgb(255, 255, 255);
    --headTable: rgb(230, 12, 83);
    --flagColor: rgb(218, 103, 66);

    --font-body-family: "Roboto Condensed", san-serif;
}

html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    background-image: url("images/bg.png");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    text-align: center;
    padding: 1em;
}

header h1 {
    text-indent: -999em;
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 4em;
    line-height: 1.5;
}

main h2 {
    text-align: center;
    margin: 1em;
    font-size: 2em;
}

nav {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
}

nav a:visited {
    color: var(--visitedLinkColor);
}

nav a:link {
    color: var(--linkColor);
}

/* ELIMINABILE? REGOLE GIà DESCRITTE NEI NAV PRECEDENTI! */
#menu a:link {
    color: var(--linkColor);
}

#menu a:visited {
    color: var(--visitedLinkColor);
}

#menu {
    text-align: center;
}

#menu ul {
    margin: auto;
    max-width: 1024px;
    padding: 1em;
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    width: 20%;
    margin: 0 0.5em;
}

#breadcrumb {
    padding: 1em;
}

#breadcrumb p {
    max-width: 1024px;
    margin: auto;
}

main {
    /*background-color: var(--bgColor); bre non voleva questa riga*/
    color: var(--txtColor);
    margin: auto;
    width: 80%;
}

main.colonne {
    /*width: 90% */
    column-width: 29em;
    column-count: 3;
    /* prima di bre 
    column-count: 3;
    width: 90%
    */
}

main.colonne time span {
    font-weight: bold;
}


.soldout {
    background-image: url("images/soldout.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#imgIndex {
    width: 80%;
}

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1.0em;
    text-align: center;
    margin-top: auto;
}

/******
DISCOGRAFIA
*******/

#fakenews {
    background-image: url('images/fakenews.jpg');
}

#ahia {
    background-image: url('images/ahia.jpg');
}

#gioventubruciata {
    background-image: url('images/gioventubrucata.jpg');
}

#fuoridallhype {
    background-image: url('images/fuorihype.jpg');
}

article {
    column-width: 50%;
    text-align: center;
}

.albums-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.album {
    position: relative;
    width: 15em;
    height: 15em;
    margin: 5em;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    /*transition: transform 0.3s ease;*/
    transition: .1s;
    transform: scale(1.0);
}

.album:hover {
    transform: scale(1.1);
    transition: .3s;
}

.album a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.album:hover a {
    display: block;
}

article img{
    width: 15em;
    margin: 5em;
    transform: scale(1.0);
    transition: .1s;
}
img:hover{
    transform: scale(1.1);
    transition: .3s;
}

/******
HOME_TABELLA
*******/

main table {
    margin: auto;
    width: 95%;
    border-collapse: collapse;
    /* le due righe sotto non c'erano prima di bre*/
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

th,
td {
    padding: 0.5em;
}

th {
    font-weight: normal;
}

td {
    font-weight: normal;
}

th time {
    font-weight: bold;
}

thead {
    background-color: var(--flagColor);
    color: var(--headerTxtColor);
}

.colonne table {
    font-size: 90%;
    margin: auto;
}



main.colonne th,
main.colonne td {
    display: inline;
    width: 30%;
    text-transform: uppercase;
}



td[data-title="Citta"] {
    color: var(--flagColor);
    font-weight: bold;
}




/******
HOME_LISTA
*******/

.colonne dl {
    font-size: 90%;
    margin: auto;
}



main.colonne div dt,
main.colonne div dd {
    /*la prof ha le righe*/
    display: inline;
    text-transform: uppercase;
}



dd[data-title="Citta"] {
    /*la prof ha le righe*/
    color: var(--flagColor);
    font-weight: bold;
}


main dl div {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}


/***************
* COMPONENTI *
*****************/
#componenti {
    margin: auto;
    width: 95%;
    max-width: 1024px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#componenti>dt {
    background-color: var(--headTable);
    color: var(--txtColor);
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1.2em;
    /*prima di bre era 1.1em*/
    font-weight: bold;
    /* prima di bre non c'era*/
}

#componenti>dd {
    background-color: var(--bgColor);
    border: 1px solid black;
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#componenti>dd img {
    width: 15%;
    float: left;
    margin-right: 1em;
}

.componente dt {
    float: left;
    font-weight: bold;
}